<!--
  Generated template for the AgregaMovimientoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="marca">
    <ion-title>Nuevo movimiento</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <h2 *ngIf="nuevo">Nuevo movimiento</h2>
  <h2 *ngIf="!nuevo"><ion-icon name="settings"></ion-icon> Editar movimiento</h2>
    <form (ngSubmit)="guardar()">
        <ion-list>
            <ion-item>
                <ion-icon *ngIf="movimiento.negativo" name="arrow-down" item-start color="danger"></ion-icon>
                <ion-icon *ngIf="!movimiento.negativo" name="arrow-up" item-start color="secondary"></ion-icon>
              <ion-label>Tipo movimiento</ion-label>
              <ion-select [(ngModel)]="movimiento.negativo" name="negativo">
                <ion-option [value]="false">Positivo</ion-option>
                <ion-option [value]="true">Negativo</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label stacked>Password</ion-label>
              <ion-input [(ngModel)]="movimiento.cantidad" name="cantidad"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input [(ngModel)]="movimiento.detalle" name="detalle"></ion-input>
            </ion-item>
            
        </ion-list>
    </form>
</ion-content>
<ion-footer no-shadow>
  <ion-toolbar position="bottom">
    <div class="row"> 
      <div class="col col-50">
        <button color="marca2" ion-button type="submit" block icon-right>
            Guardar<ion-icon name="create"></ion-icon>
            </button>
      </div>
      <div class="col col-50">
        <button color="marca2" ion-button (click)="cerrarModal()" block icon-right>
            Cerrar<ion-icon name="exit" ></ion-icon>
            </button>
      </div>     
    </div>
  </ion-toolbar>
</ion-footer>

