<ion-header>
  <ion-navbar color="marca">
    <ion-title>Movimientos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let movimiento of movimientos">
      <ion-icon *ngIf="movimiento.negativo" name="arrow-down" item-start color="danger"></ion-icon>
      <ion-icon *ngIf="!movimiento.negativo" name="arrow-up" item-start color="secondary"></ion-icon>
      <h2>{{movimiento.cantidad}}</h2>
      <h3>{{movimiento.detalle}}</h3>
      <p>{{movimiento.fecha}}</p>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="marca2" (click)="abrirAgregar()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
